<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="userSection" requirePermission="false" type="LexiGame.Utility.UserSection, Utility, Version=1.0.0.0"/>
  </configSections>
  <userSection ConnectionStringName="MyAccessDBString" dbProviderName="SQLProvider">
    <ProfileSettings ThemeSelected="" Range="3" Step="1"/>
    <dbProviders>
      <clear/> 
      <add name="SQLProvider" factoryClassName="LexiGameDB_Access.DBFactory" assembly="LexiGameDB_Access, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </dbProviders>
  </userSection>
  <connectionStrings>
    <clear/>
    <add name="MySqlDBString" connectionString="Data Source=;Initial Catalog=DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="MyAccessDBString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=LGame.mdb;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
