<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="userSection" type="Utility.UserSection, Utility, Version=1.0.0.0"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>

  </startup>
  <userSection ConnectionStringName="SqlServer" dbProviderName="SQLServerProvider">
  </userSection>
  <connectionStrings>   
    <add name="MySqlString" connectionString="Data Source=mix1;Initial Catalog=DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
