<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="userSection" requirePermission="false" type="LexiGame.Utility.UserSection, Utility, Version=1.0.0.0"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0"/>

   </startup>
  <userSection ConnectionStringName="MyAccessDBString" dbProviderName="AccessProvider">
    <profileSettings ThemeSelected="AnimalsPart1" Range="5" Step="1" Appearance="Contrast" Language="En"/>
    <skins>
      <clear/>
      <add name="Contrast"/>
      <add name="Light"/>
    </skins>
    <languages>
      <clear/>
      <add name="En"/>
      <add name="Uk"/>
    </languages>
    <dbProviders>
      <clear/>
      <add name="AccessProvider" factoryClassName="LexiGameDB_Access.DBFactory" assembly="LexiGameDB_Access, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </dbProviders>
  </userSection>
  <connectionStrings>
    <clear/>
    <add name="MyAccessDBString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=LGame.mdb;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
